doctype html
html
  head
    title #{title} - IBM DevOps Demo
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 IBM DevOps Demo
      h4 #{place}
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus
